@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-satoshi: var(--font-satoshi);
  --main-bg: #000;
  --primary-color: #f6a91b;
}

@theme {
  --breakpoint-3xl: 1840px;
  --breakpoint-4xl: 2040px;
  --breakpoint-extreme: 3450px;

  --animate-shine: shine 5s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

html {
  background-color: var(--main-bg);
}

body {
  font-family: var(--font-satoshi);
}

.gradient_bg_dark {
  background: linear-gradient(
    to right,
    rgba(246, 169, 27, 0.2) 0%,
    rgba(7, 7, 8, 0) 80%
  );
}
